@model ANightsTaleUI.Models.Login

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>


<style>
body { background-image: url("https://wallpaperaccess.com/full/117930.jpg"); background-repeat: no-repeat }

    h1 {
        font-family: "IM Fell DW Pica SC";
        color: gold;
        font-size: 50px;
    }

    h4 {
        font-family: "IM Fell DW Pica SC";
        color: gold;
        font-size: 25px;
    }

    .form-group {
        font-family: "IM Fell DW Pica SC";
        color: darkgoldenrod;
        font-weight: bold;
    }

    .col-md-4 {
        float: none;
        margin: 0 auto;
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod
    }

    .btn-btn-primary {
        background-color : forestgreen;

    }
    .sign-up {
        padding-left: 20px;
        font-family: "IM Fell DW Pica SC";
        color: black;
    }


</style>
<h1>A Nights Tale</h1>

<h4>Login</h4>
<hr />


<div class="row">
    <div class="col-md-4" >
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="btn-group">
                <div class="form-group">
                    <input type="submit" value="Login" class="btn-btn-primary" />
                </div>
                <div >
                    <a asp-action="SignUpAsync" class="sign-up">Sign Up!</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
