@model ANightsTaleUI.Models.Campaign

@{
    ViewData["Title"] = "Create";
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>

<style>
body { background-image: url("https://c.wallhere.com/photos/f4/17/1440x1080_px_1dekao_2moons_action_ages_castle_dekaron_fantasy-1487177.jpg!d"); background-repeat: no-repeat }

    h2, .back {
        font-family: "IM Fell DW Pica SC";
        color: gold;
        margin-top: 20px
    }

    .control-label, .form-check-label {
        font-family: "IM Fell DW Pica SC";
    }


    .row {
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod;
        width: 600px
    }

    .form-control {
        font-family: "IM Fell DW Pica SC";
        border-style: double;
        border-color: goldenrod
    }

    .btn-btn-primary {
        background-color: forestgreen;
        font-family: "IM Fell DW Pica SC";
        margin-bottom: 10px
    }
</style>

<h2>Campaign Creation</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
