@model IEnumerable<ANightsTaleUI.Models.Campaign>

@{
    ViewData["Title"] = "CampaignList";
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>

<style>
    body {
        background-image: url("https://cdnb.artstation.com/p/assets/images/images/001/247/531/large/jorge-jacinto-winter-is-coming-remaster-byjorgejacinto.jpg");
        background-repeat: no-repeat
    }

    h2 {
        font-family: "IM Fell DW Pica SC";
        color: gold;
    }

    .table {
        float: none;
        margin: 0 auto;
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod
    }

    .data-name, .tag-name {
        font-family: "IM Fell DW Pica SC";
    }

    .scroll {
        width: 37px;
        padding-right: 12px
    }

    .btn-create {
        background-color: forestgreen;
        font-family: "IM Fell DW Pica SC";
        margin-bottom: 10px
    }
</style>
<h2>Campaigns</h2>

<button asp-action="Create" class="btn-create">Create New</button>

<table class="table">
    <thead>
        <tr>
            <th class="tag-name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td class="data-name">
                    <div>
                        <img src="https://www.freeiconspng.com/uploads/scroll-icon-11.png" class="scroll">
                        @Html.ActionLink(item.Name, "CharCampUsr", new { id = item.CampaignID })
                    </div>

                </td>
                <td class="data-name">
                    @Html.ActionLink("Details", "Details", new { id = item.CampaignID })
                </td>
            </tr>
        }
    </tbody>
</table>
