@model ANightsTaleUI.Models.ViewModels.ItemInv

@{
    ViewData["Title"] = "CreateInventory";
}


<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>

<style>
body { background-image: url("https://i.pinimg.com/originals/ef/c9/45/efc9455ecaf898544fc5be135cb525b3.jpg"); background-repeat: no-repeat }


    h1, p, .back {
        font-family: "IM Fell DW Pica SC";
        color: gold;
    }

    .row {
        float: none;
        margin: 0 auto;
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod
    }

    .form-group, .control-label .form-control, .col-md-4 {
        font-family: "IM Fell DW Pica SC";
    }

    .btn-btn-primary {
        background-color: forestgreen;
        font-family: "IM Fell DW Pica SC";
        margin-bottom: 10px
    }
</style>

<h1>Add Item to Inventory</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateInventory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="charID" type="hidden" value=@Model.charID class="form-control" />
                <span asp-validation-for="charID" class="text-danger"></span>
            </div>
            <label asp-for="items" class="control-label"></label>
            <select asp-for="item.ItemID"
                    asp-items="@(new SelectList(Model.items, "ItemID", "Name"))" class="form-control"></select>
            <div class="form-group">
                <label asp-for="quantity" class="control-label"></label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
