@model ANightsTaleUI.Models.ViewModels.CreateCharacterViewModel

@{
    ViewData["Title"] = "Create2";
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>

<style>
body { background-image: url("https://stmed.net/sites/default/files/fantasy-forest-wallpapers-28145-395062.jpg"); background-repeat: no-repeat }


    h1, p {
        font-family: "IM Fell DW Pica SC";
        color: gold;
    }

     .back {
        font-family: "IM Fell DW Pica SC";
        color: darkgoldenrod;
    }

    .row {
        float: none;
        margin: 0 auto;
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod
    }

    .form-group, .control-label .form-control, .col-md-4 {
        font-family: "IM Fell DW Pica SC";
        margin-top : 10px
    }

    .btn-btn-primary {
        background-color: forestgreen;
        font-family: "IM Fell DW Pica SC";
        margin-bottom: 10px;
        margin-top: 10px
    }
</style>

<h1>Choose your skills:</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Character.MySkills"
                        asp-items="@(new MultiSelectList(Model.Skills, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input asp-for="Character.Name" type="hidden" value=@Model.Character.Name class="form-control" />
                <span asp-validation-for="Character.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Character.Bio" type="hidden" value=@Model.Character.Bio class="form-control" />
                <span asp-validation-for="Character.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Character.RaceID" type="hidden" value=@Model.Character.RaceID class="form-control" />
                <span asp-validation-for="Character.RaceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Character.ClassID" type="hidden" value=@Model.Character.ClassID class="form-control" />
                <span asp-validation-for="Character.ClassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Character.CampaignID" type="hidden" value=@Model.Character.CampaignID class="form-control" />
                <span asp-validation-for="Character.CampaignID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Character.RaceID" type="hidden" value=@Model.Character.RaceID class="form-control" />
                <span asp-validation-for="Character.RaceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Classes" type="hidden" value=@Model.Classes class="form-control" />
                <span asp-validation-for="Classes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Character.MySkills" type="hidden" value=@Model.Character.MySkills class="form-control" />
                <span asp-validation-for="Character.MySkills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn-btn-primary" />
            </div>
            <a asp-action="Create" class="back">Back</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
