@model ANightsTaleUI.Models.ViewModels.CreateCharacterViewModel

@{
    ViewData["Title"] = "Create2";
}

<h1>Create2</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Classes.First().Name" class="control-label"></label>
                <select asp-for="Character.ClassID"
                        asp-items="@(new SelectList(Model.Classes, "ClassID", "Name"))" class="form-control"></select>
            </div>
            @Html.ActionLink("Back", "Create")
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
