@model ANightsTaleUI.Models.ViewModels.CreateCharacterViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Character Creator</h1>

<h4>Enter your name and biography:</h4>
<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Character.Name" class="control-label"></label>
                <input asp-for="Character.Name" class="form-control" />
                <span asp-validation-for="Character.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Bio" class="control-label"></label>
                <input asp-for="Character.Bio" class="form-control" />
                <span asp-validation-for="Character.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Races.First().Name" class="control-label"></label>
                <select asp-for="Character.RaceID"
                        asp-items="@(new SelectList(Model.Races, "RaceID", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input asp-for="Character" type="hidden" value=@Model.Character class="form-control" />
                <span asp-validation-for="Character" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Races" type="hidden" value=@Model.Races class="form-control" />
                <span asp-validation-for="Races" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Classes" type="hidden" value=@Model.Classes class="form-control" />
                <span asp-validation-for="Classes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
