@model ANightsTaleUI.Models.Item

@{
    ViewData["Title"] = "Create";
}

<header>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" />

</header>

<style>
body { background-image: url("http://static.comicvine.com/uploads/original/2/28030/2185734-swamp.jpg"); background-repeat: no-repeat }

    h2, .back {
        font-family: "IM Fell DW Pica SC";
        color: gold;
        margin-top: 20px
    }

    .control-label {
        font-family: "IM Fell DW Pica SC";
    }


    .row {
        background-color: lightgray;
        border-style: double;
        border-color: goldenrod;
        width: 600px
    }

    .form-control {
        font-family: "IM Fell DW Pica SC";
        border-style: double;
        border-color: goldenrod
    }

    .btn-btn-primary {
        background-color: forestgreen;
        font-family: "IM Fell DW Pica SC";
        margin-bottom: 10px
    }
</style>

<h2>Item Creation</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AC" class="control-label"></label>
                <input asp-for="AC" class="form-control" />
                <span asp-validation-for="AC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumDice" class="control-label"></label>
                <input asp-for="NumDice" class="form-control" />
                <span asp-validation-for="NumDice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumSides" class="control-label"></label>
                <input asp-for="NumSides" class="form-control" />
                <span asp-validation-for="NumSides" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mods" class="control-label"></label>
                <input asp-for="Mods" class="form-control" />
                <span asp-validation-for="Mods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Effects" class="control-label"></label>
                <input asp-for="Effects" class="form-control" />
                <span asp-validation-for="Effects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
